{% extends 'base.html' %}

{% load static %}

{% block title %}Memoria{% endblock title %}

{% block content %}

  <div class="tab-content" id="myTabContent">

  <!--Primer pestaña-->
  
  <div class="col-lg-12 divTab">

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="memoria" role="tabpanel" aria-labelledby="home-tab">

      <div class="row buttonSelect">

        <div class="col-lg-4 memorySelect mt-2">
          <h5 class="card-title my-2">Selecciona el Tamaño de la memoria</h5>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary cyan darken-3 active optionOne">
              <input type="radio" name="options" autocomplete="off" value="256"> 256 KB
            </label>
            <label class="btn btn-secondary cyan darken-3 optionTwo">
              <input type="radio" name="options" value="512" autocomplete="off"> 512 KB
            </label>
            <label class="btn btn-secondary cyan darken-3 optionThree">
              <input type="radio" name="options" value="1024" autocomplete="off"> 1024 KB
            </label>
          </div>

          <div class=" mt-5 font-weight-bold yellow-text red darken-1 alert-dismissible fade hide alertMem" role="alert">
              <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button> -->
            <strong class="textoAlertMem">5 es la cantidad maxima de particiones para el tamaño de memoria elegida.</strong> 
          </div>
        </div>

        <div class="col-lg-4 memorySelect mt-2">

          <h5 class="card-title my-2">Selecciona el tipo de memoria</h5>

          <div class="btn-group btn-group-toggle" data-toggle="buttons">

            <label class="btn btn-secondary active cyan darken-3 optionTypeTwo">
                <input type="radio" name="options" value="Variable" autocomplete="off" checked> Variable
            </label>

            <label class="btn btn-secondary cyan darken-3 optionTypeOne">
              <input type="radio" name="options" autocomplete="off" value="Fija"> Fija
            </label>

          </div>

          <div class="mt-4 ml-2 row collapse" id="collapseExample">

            <h5>Generación de particiones</h5>

            <div class="control-group mr-3 " id="fields">

              
                  <form role="form" autocomplete="off">
                      <div class="mt-2 entry input-group-prepend">
                        <span class="input-group-text textPart">Particion 0</span>
                        <input class="form-control inputMemory" name="fields[]" placeholder="Ingrese Tamaño" />
                        <span class="ml-2 input-group-btn">
                          <button class="btn btn-success btn-add p-2 mt-0" type="button">
                              <span class="glyphicon glyphicon-plus">Agregar</span>
                          </button>
                        </span>
                      </div>
                  </form>
              

              <div class="mt-2 alert alert-danger alert-dismissible fade hide alertPart" role="alert">
                <strong class="textoAlertPart">Error, No puede ingresar mas particiones.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

            </div>

          </div>

        </div>

        <div class="col-lg-4 memorySelect">
          <h5 class="card-title my-2 mx-3">Selecciona el ajuste de memoria</h5>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active cyan darken-3 optionFitThree">
              <input type="radio" name="options" value="First Fit" checked autocomplete="off"> First Fit
              </label>
              <label class="btn btn-secondary cyan darken-3 optionFitOne">
              <input type="radio" name="options" autocomplete="off" value="Best Fit"> Best Fit
              </label>
              <label class="btn btn-secondary cyan darken-3 optionFitTwo">
              <input type="radio" name="options" value="Worst Fit" autocomplete="off"> Worst Fit
              </label>
          </div>
          </div>

          </div>

        <div class="row m-2 buttonNext">

          <div class="col-lg-6">

          </div>

          <div class="col-lg-6 align-self-center">
            <a href="{% url 'procesos' %}"><button class="btn cyan darken-3 white-text" type="button" name="button">Confirmar</button>
            </a>
          </div>

        </div>

        <div class="contentBarra" hidden>
          <div class="progress barraMem">
            <div class="progress-bar itemMem" data-toggle="tooltip" title="P1" data-placement="top"  role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">F</div>
          </div>
        </div>

        </div>

        <!-------------------------------------------------------->

    <!--   <div class="tab-pane fade show active m-5" id="memoria">

        <div class="row buttonSelect">

          <div class="col-lg-4 memorySelect">
            <h5 class="card-title my-2 mx-2">Selecciona el Tamaño de la memoria</h5>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active cyan darken-3 optionOne">
                <input type="radio" name="options" autocomplete="off" value="256"> 256 KB
              </label>
              <label class="btn btn-secondary cyan darken-3">
                <input type="radio" name="options" value="512" autocomplete="off"> 512 KB
              </label>
              <label class="btn btn-secondary cyan darken-3">
                <input type="radio" name="options" value="1024" autocomplete="off"> 1024 KB
              </label>
            </div>

            <div class=" mt-4 alert alert-warning alert-dismissible fade hide alertMem" role="alert">
              <strong class="textoAlertMem">5 es la cantidad maxima de particiones para el tamaño de memoria elegida.</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

          </div>

          <div class="col-lg-4 memorySelect">

            <h5 class="card-title my-2 mx-2">Selecciona el tipo de memoria</h5>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
               <label class="btn btn-secondary active cyan darken-3">
                  <input type="radio" name="options" value="Variable" autocomplete="off" checked> Variable
                </label>

              <label class="btn btn-secondary cyan darken-3">
                <input type="radio" name="options" autocomplete="off" value="Fija"> Fija
              </label>

            </div>

            <div class="mt-2 row collapse" id="collapseExample">

              <h5>Generación de particiones</h4>

              <div class="control-group" id="fields">

                  <div class="px-5 controls">
                      <form role="form" autocomplete="off">
                          <div class="mt-2 entry input-group-prepend">
                            <span class="input-group-text textPart">Particion 0</span>
                            <input class="form-control inputMemory" name="fields[]" placeholder="Ingrese Tamaño" />
                            <span class="ml-2 input-group-btn">
                                  <button class="btn btn-success btn-add" type="button">
                                      <span class="glyphicon glyphicon-plus">Agregar</span>
                                  </button>
                              </span>
                          </div>
                      </form>
                  </div>

                  <div class="mt-2 alert alert-danger alert-dismissible fade hide alertPart" role="alert">
                    <strong class="textoAlertPart">Error, No puede ingresar mas particiones.</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

              </div>

            </div>

           </div>

          <div class="col-lg-4 memorySelect">
            <h5 class="card-title my-2 mx-3">Selecciona el ajuste de memoria</h5>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
             <label class="btn btn-secondary active cyan darken-3">
                <input type="radio" name="options" value="First Fit" checked autocomplete="off"> First Fit
               </label>
               <label class="btn btn-secondary cyan darken-3">
                <input type="radio" name="options" autocomplete="off" value="Best Fit"> Best Fit
               </label>
               <label class="btn btn-secondary cyan darken-3">
                <input type="radio" name="options" value="Worst Fit" autocomplete="off"> Worst Fit
               </label>
            </div>
           </div>

        </div>

        <div class="row m-2 buttonNext">

          <div class="col-lg-6">

          </div>
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <button class="btn cyan darken-3 white-text" type="button" name="button">Confirmar</button>
            </div>
          </div>

        </div>

        </div> -->

            
{% endblock content %}