{% extends 'base.html' %}

{% load static %}

{% block title %}Presentacion{% endblock title %}

{% block content %}

<div class="tab-pane" id="visualizacion" role="tabpanel" aria-labelledby="contact-tab">

  <div class="col-lg-12">
    <div class="my-3 card border-info">
      <div class="card-header">
        Configuracion del Planificador
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-3">
            <button type="button" class="btn btn-info" disabled>Memoria</button><button type="button" class="btn btn-outline-info memInfo">Variable</button>
          </div>
          <div class="col-lg-3">
            <button id ="tam" type="button" class="btn btn-info" disabled>Tamaño</button><button type="button" class="btn btn-outline-info tamInfo">256</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-info" disabled>Ajuste</button><button type="button" class="btn btn-outline-info ajuInfo">First Fit</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-info" disabled>Algortimo</button><button type="button" class="btn btn-outline-info algoInfo">FCFS</button>
          </div>
        </div>


      </div>
    </div>
  </div>
<div class="col-lg-12">
  <button class="btn btn-success btn-lg btn-block startButton">
      Empezar
  </button>
</div>

<div class="col-lg-12 divProgress">
  <h3>Diagrama de CPU</h3>
  <div class="progress" id="progressCpu">
    <div class="progress-bar one" id="proccessBar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <a tabindex="0" class="btn btn-lg btn-info" role="button" data-placement="top" data-toggle="popover" data-trigger="focus" title="Pulse Empezar" data-content="No hay informacion disponible">Presione Empezar</a>
    </div>
  </div>
</div>

<div class="col-lg-12 divProgress">
  <h3>Diagrama de E/S</h3>
  <div class="progress" id="progressEs">
    <div class="progress-bar one" id="proccessEs" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <a tabindex="0" class="btn btn-lg btn-info" role="button" data-placement="top" data-toggle="popover" data-trigger="focus" title="Pulse Empezar" data-content="No hay informacion disponible">Presione Empezar</a>
    </div>
  </div>
</div>

<div class="row divTable">

  <div class="col-lg-6">

    <h5>Tiempos de Retorno</h5>

    <table class="table tableResponse">
      <thead>
        <tr>
          <th scope="col">Proceso</th>
          <th scope="col">Momento que deja la CPU</th>
          <th scope="col">Tiempo de Arrivo</th>
          <th scope="col">Retorno</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <h5 class="timeReturn"></h5>

  </div>

  <div class="col-lg-6">

    <h5>Tiempos de Espera</h5>

    <table class="table tableWait">
      <thead>
        <tr>
          <th scope="col">Proceso</th>
          <th scope="col">Tiempo de Retorno</th>
          <th scope="col">Tiempo de Total de Irrupcion</th>
          <th scope="col">Espera</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <h5 class="timeWait"></h5>

  </div>

</div>

</div>
{% endblock content%}