{% extends 'base.html' %}

{% load static %}

{% block title %}Procesos{% endblock title %}

{% block content %}
<div id="procesos" role="tabpanel">
    <div class="row">
        <div class="col-lg-4 mt-4">
                <div>
                    <h5 class="card-title my-2">Selecciona el algoritmo de planificación</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                    <label class="btn btn-secondary active">
                          <input type="radio" name="options" autocomplete="off" value="FCFS" checked> FCFS
                        </label>

                        <label class="btn btn-secondary">
                          <input type="radio" name="options" value="RR" autocomplete="off"> RR
                        </label>

                        <label for="exampleForm2">
                            <input type="text" style="width:40px; height:50px;" class=" quantumIn" placeholder="Q"/>
                        </label>
                        

                        <label class="btn btn-secondary">
                          <input type="radio" name="options" value="SJF" autocomplete="off"> SJF
                        </label>

                    <label class="btn btn-secondary">
                          <input type="radio" name="options" value="SRTF" autocomplete="off"> SRTF
                        </label>
                </div>

                <div class="loadProcess">

                    <h5 class="card-title my-3">Cargar Nuevo Proceso</h5>
    
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre:</span>
                                </div>
                                <input type="text" class="form-control py-0" id="inlineFormInputGroupUsername2" placeholder="Px">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <button type="button" class="btn btn-warning btn-rounded my-0">Editar</button>
                        </div>         
                    </div>
    
                    <div class="row">
                        <div class="col-lg-5 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Tamaño:</span>
                            </div>
                        <input type="text" placeholder="" class="size form-control sizeInput" />
                        </div>
    
                        <div class="col-lg-7 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Tiempo de Arribo:</span>
                            </div>
                        <input type="text" placeholder="" class="arrival form-control arrivalInput" />
                        </div>
    
                    </div>
    
                    <div class="row rafdynamic">

                        <form role="form">
                        <div class="entryRaf input-group-prepend">
                            <div class="col-lg-4 ">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text textCpu" >CPU 0</span>
                                    </div>
                                    <input type="text" placeholder="" class="inputcpu form-control" name="cpu[]" />
                                </div>
                            </div>
    
                            <div class="col-lg-4 ">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text textEs" >E/S 0</span>
                                    </div>
                                    <input type="text" placeholder="" class="inputes form-control" name="es[]" />
                                </div>
                            </div>
    
                            <div class="col-lg-4 ">
                                <div class="input-group mb-3">
                                    <span class="input-group-btn-raf">
                                        <button class="btn btn-success btn-rounded" type="button">
                                            <span class="glyphicon glyphicon-plus">Agregar</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    
                        </div>
                        </form>
                    </div>
    
                    <div class="row static">
                        <div class="col-lg-8 ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >Last CPU:</span>
                                </div>
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
    
                        <div class="col-lg-4 ">
                            <button class=" btn btn-default">Guardar</button>
                        </div>
                    </div>        
                </div>
            </div>
        </div>

        <div class="col-lg-8 mt-4">
            <h5 class="card-title my-2">Tabla de Procesos</h5>
    
            <table class="table table-hover table-dark tableCustom" >
                    <thead>
                    <tr class="trCustom bg-info">
                        <th scope="col">Nombre</th>
                        <th scope="col">Tamaño (KB)</th>
                        <th scope="col">T. Arribo</th>
                        <th scope="col">Ciclo de Vida (CPU-E/S-..-CPU)</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody id="tableId">
                    </tbody>
            </table>
        </div>
      
        <div class="row mb-4 ml-5 buttonNext2">
            <div class="col-lg-6">
            <button class="btn btn-primary siguiente2 " type="button" name="button">Continuar</button>
            </div>
        </div>
      

    </div>
</div>
{% endblock content%}