{% extends 'base.html' %}

{% load static %}

{% block title %}Procesos{% endblock title %}

{% block content %}
<div class="tab-pane" id="procesos" role="tabpanel" aria-labelledby="profile-tab">

    <div class="row">
        
          <div class="col-lg-4">

                      <div class="buttonSelect">

                    <div class="planSelect">
                      <h5 class="card-title my-2">Selecciona el algortimo de planificación</h5>
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">

                    <label class="btn btn-secondary active optionPlaningOne">
                          <input type="radio" name="options" autocomplete="off" value="FCFS" checked> FCFS
                        </label>

                        <label class="btn btn-secondary optionPlaningTwo">
                          <input type="radio" name="options" value="RR" autocomplete="off"> RR
                        </label>
                        <input type="text" style="width:40px" class=" quantumIn" placeholder="Q"/>

                        <label class="btn btn-secondary optionPlaningThree">
                          <input type="radio" name="options" value="SJF" autocomplete="off"> SJF
                        </label>

                    <label class="btn btn-secondary optionPlaningFour">
                          <input type="radio" name="options" value="SRTF" autocomplete="off"> SRTF
                        </label>

                  </div>

                </div>

              </div>

              <div class="loadProcess">

                <h5 class="card-title my-3">Cargar Nuevo Proceso</h5>

                <div class="row">

                  <div class="col-lg-2">

                  </div>

                  <div class="col-lg-8">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text spanName">Nombre:</span>
                      </div>
                        <input type="text" placeholder="" disabled="true" class="name form-control nomProc"/>
                        <button type="button" class="ml-2 btn btn-warning editarNombre">Editar</button>
                    </div>
                  </div>

                  <div class="col-lg-2">

                  </div>

                </div>

                <div class="row">

                  <div class="col-lg-5 input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Tamaño:</span>
                    </div>
                    <input type="text" placeholder="" class="size form-control sizeInput" />
                  </div>

                  <div class="col-lg-7 input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Tiempo de Arribo:</span>
                    </div>
                    <input type="text" placeholder="" class="arrival form-control arrivalInput" />
                  </div>

                </div>

                <div class="row rafdynamic">

                  <form role="form">

                    <div class="entryRaf input-group-prepend">


                      <div class="col-lg-4 ">

                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text textCpu" >CPU 0</span>
                          </div>
                          <input type="text" placeholder="" class="inputcpu form-control" name="cpu[]" />
                        </div>

                      </div>

                      <div class="col-lg-4 ">

                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text textEs" >E/S 0</span>
                          </div>
                            <input type="text" placeholder="" class="inputes form-control" name="es[]" />
                        </div>

                      </div>

                      <div class="col-lg-4 ">

                            <div class="input-group mb-3">
                              <span class="input-group-btn-raf">
                                    <button class="btn btn-success btn-add-raf" type="button">
                                        <span class="glyphicon glyphicon-plus">Agregar</span>
                                    </button>
                                </span>
                            </div>

                      </div>

                    </div>

                  </form>

                </div>

                <div class="row static">

                    <div class="col-lg-8 ">

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" >Last CPU:</span>
                        </div>
                        <input type="text" placeholder="" class="lastCpu form-control" />
                      </div>

                    </div>

                    <div class="col-lg-4 ">

                      <button class=" btn btn-info" onclick="saveData()">Guardar</button>

                    </div>


                </div>

                <div class=" mt-4 alert alert-danger alert-dismissible fade hide alertProcess" role="alert">
                  <strong class="textoAlertProc">Ingrese Datos</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

              </div>

          </div>




           <div class="col-lg-8">

          <h5 class="card-title my-2">Tabla de Procesos</h5>

          <table class="table table-hover table-dark tableCustom" >
                <thead>
                    <tr class="trCustom">
                        <th scope="col">Nombre</th>
                        <th scope="col">Tamaño (KB)</th>
                        <th scope="col">T. Arribo</th>
                        <th scope="col">Ciclo de Vida (CPU-E/S-..-CPU)</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody id="tableId">
                </tbody>

            </table>

           </div>

      </div>

    <div class="row m-2 buttonNext2">

        <div class="col-lg-6">

        </div>

        <div class="col-lg-6">
          <button class="btn btn-primary siguiente2 " type="button" name="button">Continuar</button>
        </div>

    </div>

   </div>
{% endblock content%}